@import-normalize; /* bring in normalize.css styles */

body {
  background-color: white;
  color: black;

  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  margin: 0;

}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.main {
  margin-top: 87px;
}
